BASE_DICOM_DIR: [
    '/mnt/rose/shared/data/bids-tryworks_data/raw_dicoms/incoming_dicoms',
    '/mnt/max/shared/code/internal/GUIs/dev_mastergui/mastergui'
]

LOG_PATH: "/mnt/rose/shared/data/bids-tryworks/logs"

# folder where our converted dicoms will live.
CONVERTED_FOLDER: "/mnt/rose/shared/data/bids-tryworks/dcm2bids"

DATA_UPLOAD_MAX_NUMBER_FIELDS: 10000